
body {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    margin: 0px;
    padding: 0px;
}

.container { 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar a {
    color: #f9faf8;
    text-decoration: none; 
    font-size: 14px;
}

.navbar a:hover {
    color: lightblue;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;   
}

.navbar {
    background-color: #1f2937;
    height: 80px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    list-style-type: none; 
    gap: 20px;
}

.section {
    background-color: #1f2937;
    padding: 50px;
}

.section .container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-right: 20px;
}

.section p {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 20px;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 10px 30px 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

img {
    width: 700px;
    height: 300px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px;
    text-align: center;
}

.emptybox {
    width: 160px;
    height: 160px;
    border: 5px solid rgb(70, 128, 194);
    border-radius: 15px;
    background: transparent;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box p {
    text-align: center;
    font-size: 18px;
    opacity: 0.6;
    padding: 0px 20px;
    margin: 0px;
    height: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 5px;
}

.quote {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    margin: 0px 0px 5px 0px;
    opacity: 0.8;
}

.quote span {
    align-self: flex-end;
    padding-right: 50px;
    font-size: 24px;
    font-weight: bold;
}

.bottomsign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.call {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 120px;
    border-radius: 15px;;
}

.call .container {
    align-self: center;
}

.call h3 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
}

.call p {
    font-size: 18px;
    color: #f9faf8;
    margin: 0;
}

.signup2 {
    margin-left: 60px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    padding:2px 30px 2px;
    border-radius: 15px;
}

